@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital@1&display=swap');

$primary:#dba377;
$gray:$gray-900;

[data-aos] {
    visibility: hidden;
}

[data-aos].animate__animated {
    visibility: visible;
}
/* This changes all the animations globaly */
:root {
  --animate-duration: 1800ms;
  --animation-delay: 2.9s;
}

.navbar {
    -webkit-box-shadow: 0 0px 3px 3px rgba(33, 37, 41, 0.6);
    -moz-box-shadow: 0 0px 3px 3px rgba(33, 37, 41, 0.6);
    box-shadow: 0 0px 3px 3px rgba(33, 37, 41, 0.6);
}

ul{
    list-style-type: none;
}

.text-gold{
    color:$primary;
}

.h-link{
    display: block;
    transition: .3s;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        height: 4px;
        width: 0;
        display: block;
        right: 0;
        bottom: -5px;
        background-color:$primary;
        transition: .3s;
    }
    &:hover{
        color: white;
    }
    &:hover:before{
        width: 100%;
        left: 0;
    }
}

.red{
    color: red;
}

.green{
    color: green;
}

.bg-cover{
    background-position: center center; 
    background-size: cover; 
}

h5{
    margin-bottom: 0px;
}

hr{
  border: 2px solid#fff;
  border-radius: 2px;  
}

.list-group-item{
    cursor: pointer;
}

