$primary:#dba377;

ul{
    list-style-type: none;
}

.text-gold{
    color:$primary;
}

.h-link{
    display: block;
    transition: .3s;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        height: 4px;
        width: 0;
        display: block;
        right: 0;
        bottom: -5px;
        background-color:$primary;
        transition: .3s;
    }
    &:hover{
        color: white;
    }
    &:hover:before{
        width: 100%;
        left: 0;
    }
}

.red{
    color: red;
}

.green{
    color: green;
}

.bg-cover{
    background-position: center center; 
    background-size: cover; 
}

h5{
    margin-bottom: 0px;
}

hr{
  border: 2px solid#fff;
  border-radius: 2px;  
}

[data-aos] {
    visibility: hidden;
}

[data-aos].animate__animated {
    visibility: visible;
}
/* This changes all the animations globaly */
:root {
  --animate-duration: 1800ms;
  --animation-delay: 2.9s;
}

.list-group-item{
    cursor: pointer;
}